* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", san-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;

    display: inline-block;
    line-height: var(--height);
    min-width: 205px;
    text-align: center;
    height: var(--height);
    padding: 0 20px;
    border-radius: 999px;
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
    background: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    width: 468px;
    color: #575f66;
    text-align: center;
    margin: 0 auto;
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* Header */
.header {
    min-height: 100vh;
    padding-bottom: 110px;
    background: var(--header-bg);
    padding-top: 30px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fixed {
    position: sticky;
    top: 28px;
    z-index: 1;
}

.logo {
    display: inline-flex;
    font-size: 1rem;
    position: relative;
}

.logo__circle::after,
.logo__circle::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
    margin-right: 0.6em;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__login {
    padding: 4px 21px;
    color: #c9d2da;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__link--active {
    font-weight: 400;
    color: #fff;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    min-width: 104px;
    height: 44px;
    line-height: 44px;
}

/*============= Hero ============= */
.hero {
    display: flex;
    margin-top: 76px;
    align-items: center;
}

.hero__content {
    width: 44%;
    padding: 60px 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
    margin-bottom: 22px;
}

.hero__desc {
    width: 468px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
    margin-bottom: 38px;
}

.hero__row {
    display: flex;
    align-items: center;
}

.hero__phone {
    color: #fff;
    margin-left: 38px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__media {
    margin-left: auto;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    border-radius: 6px;
    width: 330px;
    height: 540px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* ============ Service ============ */
.service {
    padding: 170px 0;
}

.service-row {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
    text-align: center;
}

.service__item {
    display: flex;
    width: 470px;
    padding: 21px 20px 18px 20px;
    border-radius: 10px;
    background: #fff;
}

.service__item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.service__item:hover .service__icon--wrap {
    background: #2e80ce;
    color: #fff;
}

.service__icon--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
}

.service-item__body {
    margin-left: 19px;
}

.service__list {
    margin-bottom: 55px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    margin-top: 8px;
}

.work .section-desc,
.work .section-heading {
    text-align: left;
    margin: 18px 0 0 0;
}

/* =========== Work ================= */
.work {
    background: #f6fbff;
    padding: 100px 0;
}

.work__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 70px;
}

.work-item {
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 43px 42px;
    transition: 0.25s;
}

.work-item:hover {
    position: relative;
    bottom: 16px;
    border-color: #2e80ce;
}

.work-item:hover .work-item__more {
    color: #2e80ce;
}

.work-item__heading {
    color: #10375c;
    font-size: 2.6rem;
    margin-top: 18px;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.work-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    margin-top: 28px;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__more {
    display: inline-block;
    color: #575f66;
    margin-top: 18px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Feature */
.feature {
    padding: 170px 0;
}

.feature__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__imgage {
    position: relative;
    padding-bottom: 121px;
}

.feature__img--top {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img--bottom {
    position: absolute;
    top: 121px;
    left: 238px;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    z-index: 1;
}

.feature__content {
    width: 40%;
}

.feature__content .section-desc,
.feature__content .section-heading {
    text-align: left;
}

.feature__cta {
    margin-top: 38px;
}
